.background{
    background-color:#D3D3D3;
}

.h1{
    text-align: center;
}



#HTML{
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    border: 1px solid black; /* Añadir un borde para visualización */
}

#CSS{
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    border: 1px solid black; /* Añadir un borde para visualización */
}

#Javascript{
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    border: 1px solid black; /* Añadir un borde para visualización */
}

.headtml{
    text-align:  center;
}

.headcss{
    text-align: center;
}

.jshead{
    text-align: center;
}

#imgs{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#csimg{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
#jsimg{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.phml{
   font-size:"12";
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cs{
    font-size: "12";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.js{
    font-size:"12";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}